@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'HakgyoansimDunggeunmisoTTF-B';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimDunggeunmisoTTF-B.woff2')
    format('woff2');
  font-weight: 700;
  font-style: normal;
}

* {
  font-family:
    'Pretendard',
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    'Helvetica Neue',
    'Segoe UI',
    'Apple SD Gothic Neo',
    'Noto Sans KR',
    'Malgun Gothic',
    sans-serif;
  box-sizing: border-box;
}

.LogoFont {
  font-family: 'HakgyoansimDunggeunmisoTTF-B';
}

@layer utilities {
  .bg-user {
    @apply w-[48px] h-[48px];
    background: url('assets/my-page-img/MyPageImg.png') -10px -10px;
  }

  .bg-PlusIcon {
    @apply w-[35px] h-[35px];
    background: url('assets/my-page-img/MyPageImg.png') -10px -78px;
  }

  .bg-petIcon {
    @apply w-[51px] h-[51px];
    background: url('assets/my-page-img/MyPageImg.png') -78px -10px;
  }

  .bg-고객센터_아이콘 {
    @apply w-[24px] h-[24px];
    background: url('assets/my-page-img/MyPageImg.png') -65px -78px;
  }

  .bg-공지사항_아이콘 {
    @apply w-[24px] h-[24px];
    background: url('assets/my-page-img/MyPageImg.png') -149px -10px;
  }

  .bg-최근_본_장소_아이콘 {
    @apply w-[24px] h-[24px];
    background: url('assets/my-page-img/MyPageImg.png') -149px -54px;
  }

  .bg-설정_아이콘 {
    @apply w-[24px] h-[24px];
    background: url('assets/my-page-img/MyPageImg.png') -10px -133px;
  }

  .bg-후기_아이콘 {
    @apply w-[24px] h-[24px];
    background: url('assets/my-page-img/MyPageImg.png') -54px -133px;
  }

  .bg-예약_아이콘 {
    @apply w-[24px] h-[24px];
    background: url('assets/my-page-img/MyPageImg.png') -98px -133px;
  }

  .bg-이벤트_아이콘 {
    @apply w-[24px] h-[24px];
    background: url('assets/my-page-img/MyPageImg.png') -142px -133px;
  }
}

/* 관심사 애니메이션 */
@keyframes bounce-custom {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
@keyframes bounce-grow {
  0% {
    transform: translateY(0) scale(1.4);
  }
  50% {
    transform: translateY(-10px) scale(1.4);
  }
  100% {
    transform: translateY(0) scale(1.4);
  }
}
.animate-bounce-custom {
  animation: bounce-custom 1.5s infinite;
}
.animate-bounce-grow {
  animation: bounce-grow 1.5s infinite;
}

.swalCancelBtn {
  border: 2px solid #3288ff;
  color: #3288ff;
  background-color: white;
  border-radius: 8px;
}

/* 기본적으로 스크롤바 숨김 */
.scrollbar-hidden {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

/* 스크롤 중 스크롤바 표시 */
.show-scrollbar::-webkit-scrollbar {
  display: block; /* Chrome, Safari */
  height: 8px; /* 스크롤바 높이 */
}

.show-scrollbar::-webkit-scrollbar-thumb {
  background: #3288ff; /* 스크롤바 색상 */
  border-radius: 4px; /* 둥근 스크롤바 */
}

.show-scrollbar::-webkit-scrollbar-track {
  background: #f0f0f0; /* 트랙 색상 */
}
